.body
{
    font-family: 'TT Lakes';
    margin: 0;
    background-color: #f8f8f8;
}

.header
{
    height: 88px;
    min-width: 288px;
    padding: 0 16px;
    
    background-color: white;
    /* border-bottom: 1px solid #D9FFF5; */
}

.header-navigation
{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-container
{
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.header-navigation__left-container
{
    width: 170px;
}


.icon
{
    width:40px;
    height:40px;
}


.delimeter_hidden_true,
.icon_hidden_true
{
    display:none;
}


.icon__burger
{
    background: url('/img/header/burger.svg');
}

.icon__logo
{
    width: 98px;
    height: 52px;
    background: url('/img/header/logo.svg');
}

.icon__call
{
    background: url('/img/header/call.svg')
}

.icon__chat
{
    background: url('/img/header/chat.svg')
}

.icon__profile
{
    background: url('/img/header/profile.svg')
}

.icon__repair
{
    background: url('/img/header/repair.svg')
}

.icon__checkstatus
{
    background: url('/img/header/checkstatus.svg')
}

.header-navigation__right-container
{
    width:98px;
}

.header-navigation__right-container .delimeter
{
    margin:0 4px
}


/*  */
/* MAIN SECTION */
/*  */

.main .main-section
{
    border-bottom: #B8FFEC;
}

.main-section 
{
    display: flex;
    flex-direction: column;
}

.main-section__header
{
    font-size: 28px;
    font-weight:bold;
    padding-left: 16px;
    margin-top: 24px;
}

.main-section__header::before
{
    content: "";
    position: absolute;
    left:0px;
    width: 4px;
    height: 40px;
    background: url('/img/mainSection/highlight.svg');
}


/* Slide menu */
.main-section__navigation
{
    display: inherit;
    flex-wrap: nowrap;
    overflow: scroll;
    gap:5px;
    max-width: 1120px;
}

.main-section__navigation::after,
.main-section__navigation::before
{
    content:'';
    position:absolute;
    height:40px;
    width:16px;
}

.main-section__navigation::after
{
    right:0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248,248,248, 0.0001));
}

.main-section__navigation::before
{
    left:0;
    background: linear-gradient(90deg, #F8F8F8 16.84%, rgba(248,248,248, 0.0001));
}

.main-section__nav-button
{
    height:40px;
    /* width: fit-content; */
    border:none;
    flex-shrink: 0;
    padding-top:8px;
    padding-bottom:8px;
    font-family: inherit;
    font-size: 16px;
    /* letter-spacing: 0.2px; */
    color: #7e7e7e;
    background: inherit;
}

.main-section__nav-button:first-child
{
    margin-left: 16px;
}


.main-section__nav-button:hover
{
    background: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 6px calc(0.6em - 2px) 6px calc(1em - 2px);
}

.main-section nav button:nth-child(2)
{display:none;}

.main-section nav button:last-child
{margin-right: 16px;}
/*  */


.main-section__description
{
    display: inherit; /*flex-con*/
    flex-basis: content;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 24px;
}

.main-section__container div 
{
    display: inherit; 
    flex-direction: column;
    margin: 0 16px;
}

.main-section__container div p
{
    min-width: 288px;
    max-width: 312px;
    min-height: 90px;
    /* font */
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-top: 0;
    margin-bottom: 16px;
}
.main-section__container p:nth-child(2)
{
    display: none;
    margin-top: 10px;
    min-height: auto;
}

.main-section__container button{
    width:fit-content;
    height:24px;
    border:none;

    background-color: inherit;
    /* font */
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 16px;
}

.main-section__container button::before{
    content:url("/img/mainSection/icon.svg");
    margin:2px 16px 2px 8px;
}

.main-section img {
    width:320px;
    height:176px;    
}

@media screen and (min-width:768px) and (max-width:1119px)
{
    .header 
    {
        padding: 0 24px
    }

    .header-navigation__left-container .delimeter:first-of-type 
    {
        display:unset
    }

    .header-navigation__left-container .delimeter:last-of-type  
    {
        display:none
    }



    .header-navigation__right-container 
    {
        width:fit-content;
        gap:16px;
    }

    .header-navigation__right-container .delimeter,
    .icon__call,
    .icon__chat,
    .icon__profile,
    .icon__checkstatus
    {
        display: unset;
    }


    .main-section nav button:first-child 
    {margin-left:24px;}

    .main-section nav button:nth-child(5)
    {display: none;}

    .main-section__container 
    {
        margin-left: 24px;
        margin-right: 25px;
        justify-content: space-between;
    }
    .main-section__container div p {margin-left: 0;}
    .main-section__container p:nth-child(2) 
    {
        display:unset;
        margin-bottom: 10px;
    }
    .main-section__container div button::before
    {
        margin:auto 16px auto 9px;
    }
    .main-section__container img 
    {
        width: 360px; 
        height: 208px;
        border:#f8f8f8 solid 1px;
        border-radius: 7%;
    }
}



@media screen and (min-width:1120px){
    header {display:none;}
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Regular.ttf) format("truetype");
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Bold.ttf) format("truetype");
    font-weight:bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Thin.ttf) format("truetype");
    font-weight:300;
    font-style: italic;
}