a
{
    text-decoration: none;
    color:black;
}

.body
{
    font-family: 'TT Lakes';
    margin: 0;
    background-color: #f8f8f8;
}

.header
{
    box-sizing: border-box;
    height: 88px;
    min-width: 288px;
    padding: 0 16px;
    
    background-color: white;
    border-bottom: 1px solid #D9FFF5;
}

.header-navigation
{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-container
{
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.header-navigation__left-container
{
    width: 172px;
}



.delimeter_hidden_true,
.icon_hidden_true,
.container_hidden_true,
.main-section__nav-button_hidden_true,
.main-section__text_hidden_true
{
    display:none;
}


.header-container__icon-burger
{
    width:40px;
    height:40px;
    background: url('./img/header/burger.svg');
}

.header-container__icon-logo
{
    width: 98px;
    height: 52px;
    background: url('./img/header/logo.svg');
}

.header-navigation__right-container
{
    width:96px;
}

.header-navigation__right-container .delimeter
{
    margin:0 4px
}

.header-container__icon-call
{
    width:40px;
    height:40px;
    background: url('./img/header/call.svg')
}

.header-container__icon-chat
{
    width: 40px;
    height: 40px;
    background: url('./img/header/chat.svg')
}

.header-container__icon-profile
{
    width:40px;
    height:40px;
    background: url('./img/header/profile.svg')
}

.icon-repair
{
    width:40px;
    height:40px;
    background: url('./img/header/repair.svg')
}

.icon-checkstatus
{
    width:40px;
    height:40px;
    background: url('./img/header/checkstatus.svg')
}


/*  */
/* MAIN SECTION */
/*  */

.main-section 
{
    display: flex;
    flex-direction: column;
    border-bottom: #B8FFEC;
}

.main-section__container-header
{
    display: flex;
    align-items: center;
    margin-right:32px;
}


.main-section__h1
{
    font-size: 28px;
    padding-left: 16px;
    margin:25px 0;
    letter-spacing: -0.6px;
    white-space: nowrap;
}

.main-section__h1::before
{
    content: "";
    position: absolute;
    left:0px;
    width: 4px;
    height: 40px;
    background: url('./img/mainSection/highlight.svg');
}

.main-section__container-repair-1120
{    
    margin-left:auto;
    position:relative;
    width:173px;
}

.icon-repair_with-text-1120::after,
.icon-checkstatus_with-text-1120::after
{
    content: "";
    position: absolute;
    top:-10px;
    right:0px;
    width:40px;
    height:40px
}

.icon-repair_with-text-1120::after
{
    background: url('./img/header/repair.svg');
}

.main-section__container-checkstatus-1120
{   
    position:relative; 
    width:168px;
    margin-left:32px;
}

.icon-checkstatus_with-text-1120::after
{
    background: url('./img/header/checkstatus.svg')
}


/* Slide menu */
.main-section__navigation
{
    display: inherit;
    flex-wrap: nowrap;
    overflow: scroll;
    max-width: 1120px;
    padding-left: 16px;
}

.main-section__navigation::after,
.main-section__navigation::before
{
    content:'';
    position:absolute;
    height:40px;
    width:16px;
}

.main-section__navigation::after
{
    right:0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248,248,248, 0.0001));
}

.main-section__navigation::before
{
    left:0;
    background: linear-gradient(90deg, #F8F8F8 16.84%, rgba(248,248,248, 0.0001));
}

.main-section__nav-button
{
    height:40px;
    border:none;
    flex-shrink: 0;
    padding: 8px 0.6em;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #7e7e7e;
    background: inherit;
}

.main-section__nav-button:hover
{
    background: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 6px calc(0.6em - 2px);
}


.main-section__nav-button:last-child
{
    margin-right: 16px
}
/*  */


.main-section__content-outer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 24px;
}

.main-section__content
{
    margin:0 16px;
}

.main-section__text
{
    min-width: 288px;
    width:288px;
    /* font */
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin:0;
    margin-bottom:17px;
}

.main-section__btn-read-more
{
    /* width:fit-content; */
    height:24px;
    border:none;
    background-color: inherit;
    /* font */
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0;
}

.main-section__btn-read-more::before
{
    content:url("./img/mainSection/icon.svg");
    display: inline-block;
    width:24px;
    height: 24px;
    margin-right: 8px;
}

.main-section__logo-picture 
{
    width:320px;
    height:176px;    
}

@media screen and (min-width:768px) and (max-width:1119px)
{
    .header 
    {
        padding: 0 24px
    }

    .header-navigation__left-container
    {
        width:180px;
    }

    .header-navigation__left-container .delimeter:first-of-type 
    {
        display:unset
    }

    .header-navigation__left-container .delimeter:last-of-type  
    {
        display:none
    }



    .header-navigation__right-container 
    {
        width:fit-content;
        gap:16px;
    }

    .header-navigation__right-container .delimeter,
    .header-container__icon-call,
    .header-container__icon-chat,
    .header-container__icon-profile,
    .header-container__icon-checkstatus
    {
        display: unset;
    }

    .main-section__h1
    {
        padding-left: 23px;
        margin-bottom:32px;
    }

    .main-section__navigation
    {
        padding-left:24px;
    }

    .main-section__content-outer
    {
        padding-top:32px;
        gap:46px;
        margin: 0 25px 0 24px;
        justify-content: space-between;
    }

    .main-section__content
    {
        margin:0;
    }

    .main-section__text
    {
        width: 312px;
        line-height: 20px;
        margin-bottom:21px;
    }

    .main-section__text:last-of-type
    {
        display: block;
        margin-bottom: 11px;
    }

    .main-section__logo-picture
    {
        width: 360px;
        height: 200px;
        border-radius: 6px;
    }    
}



@media screen and (min-width:1120px)
{
    .header 
    {
        display:none
    }


    .main-section__container-repair-1120,
    .main-section__container-checkstatus-1120
    {
        display: unset;
    }

    .main-section__container-header
    {
        margin-top: 42px;
        margin-bottom:10px;
        margin-right: 44px;
    }

    .main-section__h1
    {
        padding-left:33px;
        margin-top:0;
        margin-bottom:0;
    }

    .main-section__navigation
    {
        padding-left:34px;
        flex-wrap: wrap;
        align-items: center;
        gap:8px 0px;
    }

    .main-section__content-outer
    {
        padding-top:0;
    }

    .main-section__content
    {
        margin-top: 11px;
        margin-left:34px;
        margin-right:36px;
        width:490px;
    }

    .main-section__text
    {
        width: 490px;
        display: block;
        line-height: 20px;
    }

    .main-section__text-part-1120
    {
        display: unset;
    }

    .main-section__text-part-1120::before
    {
        content:','
    }

    .main-section__logo-picture
    {
        width: 531px;
        height: 302px;
        border-radius: 6px;
    }

}

@font-face 
{
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Regular.ttf) format("truetype");
    font-weight:normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Bold.ttf) format("truetype");
    font-weight:bold;
    font-style: normal;
}

@font-face 
{
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Thin.ttf) format("truetype");
    font-weight:300;
    font-style: italic;
}